html, body {
  background: #e0f0e2;
}

.AlertInputBox {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  background: #ffffff;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000;
}

.AlertListBox {
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background: #ffffff;
  box-shadow: 0 0 10px 0 #000;
}

.AlertListViewBox {
  margin: 10px 0;
  max-height: 50vh;
  overflow-y: auto;
}

.ResultChartBox {
  margin: 10px auto;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background: #ffffff;
  box-shadow: 0 0 10px 0 #000;
}